xterm*faceSize: 12
xterm*faceSize1: 6
xterm*faceSize2: 8
xterm*faceSize3: 10
xterm*faceSize4: 12
xterm*faceSize5: 16
xterm*faceSize6: 22
xterm*faceSize7: 28
xterm*faceSize8: 34
xterm*faceSize9: 40
xterm*faceSize10: 50
xterm*renderFont: true
xterm*cursorBlink: true
xterm*cursorColor: *XtDefaultForeground
xterm*trimSelection: true
xterm*faceName: Fira Code:antialias=true
xterm*selectToClipboard: true
xterm*highlightSelection: true

xterm.vt100.translations: #override \n\
        Ctrl <Key> 0: set-vt-font(d) \n\
        Ctrl <Key> plus: larger-vt-font() \n\
        Ctrl <Key> minus: smaller-vt-font() \n\
        Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\

xterm*dynamicColor: true
