xterm*faceSize: 9
xterm*faceSize1: 8
xterm*faceSize2: 10
xterm*faceSize3: 12
xterm*faceSize4: 16
xterm*faceSize5: 22
xterm*faceSize6: 28
xterm*renderFont: true
xterm*cursorBlink: true
xterm*trimSelection: true
xterm*faceName: Fira\ Mono:antialias=true
xterm*selectToClipboard: true
xterm*highlightSelection: true

xterm.vt100.translations: #override \n\
        Ctrl <Key> 0: set-vt-font(d) \n\
        Ctrl <Key> plus: larger-vt-font() \n\
        Ctrl <Key> minus: smaller-vt-font() \n\
        Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\

