priority -50

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet #! "#!/usr/bin/env python" b
#!/usr/bin/env python
$0
endsnippet
